<!-- TODO ALI TO REVIEW -->
<form *ngIf="done; else loading">
    <div class="modal-header">
        <div class="container-fluid">
            <div class="row">
                <h4 class="modal-title pull-left">Director {{director.name}}</h4>
            </div>
        </div>
    </div>
    <div class="modal-body overflow-hidden">
        <div class="row fields">
            <div class="col-md-8">
                <div class="col-md-11">
                    <div class="form-group">
                        <div class="input-group input-group-sm row">
                            <div class="input-group-prepend col-4">
                                <div class="input-group-text">
                                    Director Name
                                </div>
                            </div>
                            <input class="form-control col-9 border-0" placeholder="Name" name="name"
                                [(ngModel)]="director.name" [readonly]="!isAdmin">
                        </div>
                    </div>
                </div>
                <div class="col-md-11">
                    <div class="form-group">
                        <div class="input-group input-group-sm row">
                            <div class="input-group-prepend col-4">
                                <div class="input-group-text">
                                    Nationality
                                </div>
                            </div>
                            <input class="form-control col-9 border-0" placeholder="Nationality" name="nationality"
                                [(ngModel)]="director.nationality" [readonly]="!isAdmin">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="bsModalRef.hide()" class="btn btn-sm btn-light ml-auto">Cancel</button>
        <button (click)="update()" class="btn btn-sm btn-primary m_l_10" *ngIf="data && isAdmin">Update</button>
        <button (click)="create()" class="btn btn-sm btn-primary m_l_10" *ngIf="!data && isAdmin">Create</button>
    </div>
</form>
<ng-template #loading>
    <div class="text-center m-5">
        <div class="spinner-border	" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>
<ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100">
        <span class="half" [style.width.%]="fill">&starf;</span>&starf;
    </span>
</ng-template>