<div *ngIf="done; else loading" class="full-screen-container d-flex">
    <div class="overlayGradient"></div>
    <div class="content my-auto h-100">
        <div class="container-fluid my-auto parentGroup">
            <div class="row childGroup">
                <div class="col-md-7 col-lg-5 mx-auto text-left">
                    <form #form="ngForm">
                        <div class="container-fluid my-5 border shadow-sm bg-white rounded px-5 pb-4">
                            <div class="row py-4 mb-3 mt-5">
                                <div class="col">
                                    <h4 class="text-dark font-weight-bold">
                                        Create new account
                                    </h4>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <div class="input-group border-bottom">
                                        <input type="email" class="form-control noShadow noBottomBorder" name="email"
                                            [(ngModel)]="user.email" tabindex="1" placeholder="Email" [max]="100"
                                            required email focus #eRef="ngModel">
                                        <div class="input-group-append">
                                            <img src="assets/icons/email-light.svg" width="20rem">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <div class="input-group border-bottom">
                                        <input type="text" class="form-control noShadow noBottomBorder" name="sex"
                                            [(ngModel)]="user.sex" tabindex="1" placeholder="Gender" [max]="100"
                                            required sex focus #eRef="ngModel">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <div class="input-group border-bottom">
                                        <input type="text" class="form-control noShadow noBottomBorder" name="birth"
                                            [(ngModel)]="user.birth" tabindex="1" placeholder="Birth" [max]="100"
                                            required birth focus #eRef="ngModel" mask="0000-00-00">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <div class="input-group border-bottom">
                                        <input type="text" class="form-control noShadow noBottomBorder" name="name"
                                            [(ngModel)]="user.name" tabindex="2" placeholder="Name" [max]="100">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-0 mb-2">
                                <div class="col text-right text-danger">
                                    <span *ngIf="eRef.touched && eRef.dirty && eRef.errors?.required">
                                        Field is required
                                    </span>
                                    <span
                                        *ngIf="eRef.touched && eRef.dirty && eRef.errors?.email && !eRef.errors?.required">
                                        The email format is invalid
                                    </span>
                                    <span
                                        *ngIf="eRef.touched && eRef.dirty && eRef.errors?.minlength && !eRef.errors?.required">
                                        Must be at least {{ eRef.errors?.minlength?.requiredLength}} characters
                                    </span>
                                    <span
                                        *ngIf="eRef.touched && eRef.dirty && eRef.errors?.maxlength && !eRef.errors?.required">
                                        Must be less than {{eRef.errors?.maxlength?.requiredLength}} characters
                                    </span>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <div class="input-group border-bottom">
                                        <input [type]="fieldTextType ? 'text' : 'password'"
                                            class="form-control rounded-0 noBottomBorder" name="password"
                                            placeholder="Password" tabindex="3" [(ngModel)]="user.password" required
                                            min="5" max="65" minlength="3" #pRef="ngModel">
                                        <div class="input-group-append">
                                            <img src="assets/icons/Icon feather-eye.svg" width="20rem"
                                                id="togglePassword" (click)="passwordEye()">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col text-right text-danger">
                                    <span *ngIf="pRef.touched && pRef.dirty && pRef.errors?.required">
                                        Field is required
                                    </span>
                                    <span
                                        *ngIf="pRef.touched && pRef.dirty && pRef.errors?.minlength && !pRef.errors?.required">
                                        Must be at least {{pRef.errors?.minlength?.requiredLength }} characters
                                    </span>
                                    <span
                                        *ngIf="pRef.touched && pRef.dirty && pRef.errors?.maxlength && !pRef.errors?.required">
                                        Must be less than {{pRef.errors?.maxlength?.requiredLength}} characters
                                    </span>
                                    <span
                                        *ngIf="pRef.touched && pRef.dirty && pRef.errors?.maxlength && !pRef.errors?.required">
                                        Must be less than {{pRef.errors?.maxlength?.requiredLength}} characters
                                    </span>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <div class="input-group border-bottom">
                                        <input [type]="fieldTextType ? 'text' : 'password'"
                                            class="form-control rounded-0 noBottomBorder" name="password2"
                                            placeholder="Password (again)" tabindex="4" [(ngModel)]="confirmPassword"
                                            required min="5" max="65" minlength="3">
                                        <div class="input-group-append">
                                            <img src="assets/icons/Icon feather-eye.svg" width="20rem"
                                                id="togglePassword" (click)="passwordEye()">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col text-right text-danger">
                                    <span *ngIf="checkMatching()">
                                        Passwords not matching
                                    </span>
                                </div>
                            </div>
                            <div class="row my-4 pb-5">
                                <div class="col-12 col-md-12 pl-2 my-2">
                                    <button
                                        class="btn btn-block btn-primary my-1 w-100 mx-1 px-1" type="submit"
                                        tabindex="5" (click)="signupRequest()">
                                        <label class="font-weight-bold my-0">Sign Up</label>
                                    </button>
                                    <ng-template #signingsUpRef>
                                        <div class="text-center mt-3">
                                            <div class="text-primary spinner-border" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="row mb-3 pt-3">
                                <div class="col text-center">
                                    <label class="text-dark font-weight-semibold">Already have an account?&nbsp;</label>
                                    <a routerLink='/signIn' class="text-primary font-weight-bold">
                                        <u class="pl-1">Sign In</u>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="text-center m-5">
        <p>Processing...</p>
        <div class="spinner-border	" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>

<p-toast position="bottom-right"></p-toast>