<div class="container-fluid">
	<div class="row mt-5">
		<div class="col-6 col-md-4 col-lg-3 col-xl-2 text-center mb-5" role="button"
			(click)="goToAdministrationArea('users')">
			<img src="/assets/icons/administration/users.svg" alt="Users" class="w-50 m-3" />
			<h5>Users</h5>
		</div>
		<div class="col-6 col-md-4 col-lg-3 col-xl-2 text-center mb-5" role="button"
			(click)="goToAdministrationArea('movies')">
			<img src="/assets/icons/settings/acclist.svg" alt="Account List" class="w-50 m-3" />
			<h5>Movies</h5>
		</div>
		<div class="col-6 col-md-4 col-lg-3 col-xl-2 text-center mb-5" role="button"
			(click)="goToAdministrationArea('actors')">
			<img src="/assets/icons/administration/contacts.svg" alt="Contacts" class="w-50 m-3" />
			<h5>Actors</h5>
		</div>
		<div class="col-6 col-md-4 col-lg-3 col-xl-2 text-center mb-5" role="button"
			(click)="goToAdministrationArea('directors')">
			<img src="/assets/icons/administration/landlords.svg" alt="Land Lords" class="w-50 m-3" />
			<h5>Directors</h5>
		</div>
		<div class="col-6 col-md-4 col-lg-3 col-xl-2 text-center mb-5" role="button"
			(click)="goToAdministrationArea('categories')">
			<img src="/assets/icons/administration/landlords.svg" alt="Land Lords" class="w-50 m-3" />
			<h5>Categories</h5>
		</div>
		<div class="col-6 col-md-4 col-lg-3 col-xl-2 text-center mb-5" role="button"
			(click)="goToAdministrationArea('reports')">
			<img src="/assets/icons/administration/landlords.svg" alt="Land Lords" class="w-50 m-3" />
			<h5>Reports</h5>
		</div>
	</div>
</div>
