<form #form="ngForm" (ngSubmit)="form.valid && downloadMovie(form)">
    <div class="modal-header">
        <div class="container-fluid">
            <div class="row">
                <h4 class="modal-title pull-left">Movie {{movie.name}}</h4>
            </div>
        </div>
    </div>
    <div class="modal-body overflow-hidden">
        <div class="row fields">
            <div class="col-md-8">
                <div class="col-md-11">
                    <div class="form-group">
                        <div class="input-group input-group-sm row">
                            <div class="input-group-prepend col-4">
                                <div class="input-group-text">
                                    Name
                                </div>
                            </div>
                            <input class="form-control col-9 border-0" placeholder="Name" name="name"
                                [(ngModel)]="card.name">
                        </div>
                    </div>
                </div>
                <div class="col-md-11">
                    <div class="form-group">
                        <div class="input-group input-group-sm row">
                            <div class="input-group-prepend col-4">
                                <div class="input-group-text">
                                    email
                                </div>
                            </div>
                            <input type="email" class="form-control col-9 border-0" placeholder="Email" name="email"
                                [(ngModel)]="card.email">
                        </div>
                    </div>
                </div>
                <div class="col-md-11">
                    <div class="form-group">
                        <div class="input-group input-group-sm row">
                            <div class="input-group-prepend col-4">
                                <div class="input-group-text">
                                    Card Number
                                </div>
                            </div>
                            <input class="form-control col-9 border-0" placeholder="Number" name="number"
                                [(ngModel)]="card.number" (blur)="validateNumber()" mask="0000-0000-0000-0000">
                        </div>
                    </div>
                </div>
                <div *ngIf="wrongNumber" class="alert alert-danger">
                    Please Enter Valid Card Number
                </div>
                <div class="col-md-11">
                    <div class="form-group">
                        <div class="input-group input-group-sm row">
                            <div class="input-group-prepend col-4">
                                <div class="input-group-text">
                                    Validity
                                </div>
                            </div>
                            <input class="form-control col-9 border-0" placeholder="Validity" name="validity"
                                [(ngModel)]="card.validity" (blur)="validateDate()" mask="00/00">
                        </div>
                    </div>
                </div>
                <div *ngIf="wrongDate" class="alert alert-danger">
                    Please Enter Valid end Date
                </div>
                <div class="col-md-11">
                    <div class="form-group">
                        <div class="input-group input-group-sm row">
                            <div class="input-group-prepend col-4">
                                <div class="input-group-text">
                                    Security Code
                                </div>
                            </div>
                            <input class="form-control col-9 border-0" placeholder="Code" name="code"
                                [(ngModel)]="card.code" maxlength="3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="bsModalRef.hide()" class="btn btn-sm btn-light ml-auto">Cancel</button>
        <button type="submit" class="btn btn-sm btn-primary m_l_10">Download</button>
    </div>
</form>
<ng-template #loading>
    <div class="text-center m-5">
        <div class="spinner-border	" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>
<ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100">
        <span class="half" [style.width.%]="fill">&starf;</span>&starf;
    </span>
</ng-template>