$colorPrimary: #4D777C;
$colorSecondary: #A0A0A0;
$colorGreen: #94D661;
$colorSuccess: #2a9fa9;
$colorDanger: #FF6F5E;
$colorWarning: #FFA24F;
$colorInfo: #23779c;
$colorLight: #F5F5F5;
$colorDark: #1b2735;
$colorWhite: #FFFFFF;
$colorRed: #693741;
