<div class="card border-0 border-rounded-0" style="width:100%;">
    <div class="card-header p-1 bg-transparent">
        <form class="form-inline float-left">
            <h1 class="d-inline float-left">Users</h1>
        </form>
    </div>
    <div class="card-body m-0 p-0">
        <p-table [value]="users" sortMode="multiple" [multiSortMeta]="[{field: 'id', order:1}]"
            styleClass="p-datatable-gridlines p-datatable-striped" *ngIf="users; else loading" [rowHover]="true">
            <ng-template class="row" pTemplate="header">
                <tr class="col-12 row pl-0 pr-0 ml-0 mr-0">
                    <th class="col-1 pt-0 pb-0 text-center" pSortableColumn="id">
                        #<p-sortIcon field="id"></p-sortIcon>
                    </th>
                    <th class="col-2 pt-0 pb-0 text-center" pSortableColumn="name" p-columnFilter="name">
                        Name
                        <p-columnFilter type="text" field="name" display="menu" [matchMode]="'contains'">
                        </p-columnFilter>
                        <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th class="col-2 pt-0 pb-0 text-center" pSortableColumn="email" p-columnFilter="email">
                        Email
                        <p-columnFilter type="text" field="email" display="menu" [matchMode]="'contains'">
                        </p-columnFilter>
                        <p-sortIcon field="email"></p-sortIcon>
                    </th>
                    <th class="col-2 pt-0 pb-0 text-center" pSortableColumn="isAdmin" p-columnFilter="isAdmin">
                        Admin
                        <p-columnFilter type="text" field="isAdmin" display="menu" [matchMode]="'contains'">
                        </p-columnFilter>
                        <p-sortIcon field="isAdmin"></p-sortIcon>
                    </th>
                    <th class="col-2 pt-0 pb-0 text-center" pSortableColumn="isVerified" p-columnFilter="isVerified">
                        Verified
                        <p-columnFilter type="text" field="isVerified" display="menu" [matchMode]="'contains'">
                        </p-columnFilter>
                        <p-sortIcon field="isVerified"></p-sortIcon>
                    </th>
                    <th class="col-2 pt-0 pb-0 text-center" pSortableColumn="status" p-columnFilter="status">
                        Status
                        <p-columnFilter type="text" field="status" display="menu" [matchMode]="'contains'">
                        </p-columnFilter>
                        <p-sortIcon field="status"></p-sortIcon>
                    </th>
                    <th class="col-1 pt-0 pb-0 text-center">Details</th>
                </tr>
            </ng-template>
            <ng-template class="row" pTemplate="body" let-user let-i="rowIndex">
                <tr class="row col-12 pl-0 pr-0 ml-0 mr-0">
                    <td class="col-1 pt-0 pb-0 text-center">{{i + 1}}</td>
                    <td class="col-2 pt-0 pb-0 text-center">{{user.name}}</td>
                    <td class="col-2 pt-0 pb-0 text-center">{{user.email}}</td>
                    <td class="col-2 pt-0 pb-0 text-center">{{user.isAdmin?'Yes':'No'}}</td>
                    <td class="col-2 pt-0 pb-0 text-center">{{user.isVerified?'Yes':'No'}}</td>
                    <td class="col-2 pt-0 pb-0 text-center">{{user.status}}</td>
                    <td class="col-1 pt-0 pb-0 text-center">
                        <a (click) = "userDetalis(user)"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i></a>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <ng-template #loading>
            <div class="alert alert-warning">Loading, please wait...</div>
        </ng-template>
    </div>
</div>
<p-toast position="bottom-right"></p-toast>